@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    /* background: linear-gradient(#00000073, #00000073), url(../img/fondo.jpg); */
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Quicksand', sans-serif;
    /* background-color: #f9f9f9; */
}
.contenedor{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    color: white;
    margin:auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.div-contenedor{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.div-contenedor2{
    height: 100vh;
    text-align: center;
    color:white;
}

.circulo{
    width: 30px;
    height: 30px;
    border-radius:50%;
    margin: 5px;
    display: inline-block;
    border: solid 1px white;
}

.sombreado{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border:solid 1px black;
}
.principal{
    width: 50px;
    height: 50px;
    border: solid 3px white;
    padding-top: 10px;
}
.seleccion{
    width: 20px;
    height: 20px;
    border: solid 3px white;
}

.rojo{
    background-color: rgb(182, 53, 53);
}
.verde{
    background-color: rgb(22, 121, 43);
}
.morado{
    background-color: rgb(216, 42, 216);
}
.naranja{
    background-color: rgb(235, 129, 30);
}
.amarillo{
    background-color: rgb(241, 229, 56);
}
.azul{
    background-color: rgb(52, 52, 236);
}
.negro{
    background-color: black;
}
.blanco{
    background-color: white;
}

.fila-colores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.numero-intento{
    font-weight: bold;
}

.div-icono-fila{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.icono-fila{
    font-size: 20px;
    color: rgb(235, 129, 30);

}

.correctas{
    color:white;
    background-color: green;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
}

.incorrectas{
    color:white;
    background-color: #c93195;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
}